In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.ticker import MaxNLocator
import seaborn as sns
import datetime
from ipyleaflet import Map, basemaps, Marker, basemap_to_tiles, Circle, Polyline
from eda.data_loaders.csv_loader import CSVDataLoader
from eda.data_analysis.data_analysis import DataAnalysis
from eda.data_cleaning.data_cleaner import DataCleaning

# load the world cities (nasadf) dataset
loader = CSVDataLoader(datasets_dir='datasets')
nasadf = loader.load_data("NASA_Facilities.csv")

# perform data analysis
analysis = DataAnalysis(nasadf)

# perform data cleaning
cleaning = DataCleaning(nasadf)

In [ ]:
nasadf.hist(bins=30, figsize=(15,9), color='g')
plt.show()

In [2]:
analysis.initial()

self.df.head(10)
                         Center Center Search Status  \
0          Kennedy Space Center               Public
1       Langley Research Center               Public
2          Kennedy Space Center               Public
3  Marshall Space Flight Center               Public
4  Marshall Space Flight Center               Public
5          Kennedy Space Center               Public
6          Kennedy Space Center               Public
7            Jet Propulsion Lab               Public
8            Jet Propulsion Lab               Public
9          Kennedy Space Center               Public

                                           Facility  FacilityURL  Occupied  \
0                        Control Room 2/1726/HGR-S           NaN    1957.0
1             Micometeroid/LDEF Analysis Laboratory          NaN    1965.0
2     SRM Rotation and Processing Facility/K6-0494           NaN    1984.0
3        ET WTC - 14-Inch Trisonic Wind Tunnel 4732          NaN    1968.0
4   EB LAB Control Moment Gyro Test & Eval Fac 4487          NaN       NaN
5  HMF South Processing Bldg/West High Bay/M7-1212           NaN    1964.0
6                Central Supply Warehouse (M6-744)           NaN    1964.0
7                                    DSS 46 Antenna          NaN    1963.0
8                                    DSS 65 Antenna          NaN    1964.0
9                    Utility Annex/K6-947/VAB AREA           NaN    1966.0

     Status URL Link             Record Date             Last Update Country  \
0       NaN      NaN  03/01/1996 12:00:00 AM  06/22/2015 12:00:00 AM      US
1    Active      NaN  03/01/1996 12:00:00 AM  02/25/2013 12:00:00 AM      US
2       NaN      NaN  03/01/1996 12:00:00 AM  06/22/2015 12:00:00 AM      US
3    Active      NaN  03/01/1996 12:00:00 AM  03/31/2014 12:00:00 AM      US
4    Active      NaN  06/11/1996 12:00:00 AM  05/30/2014 12:00:00 AM      US
5       NaN      NaN  03/01/1996 12:00:00 AM  06/22/2015 12:00:00 AM      US
6       NaN      NaN  03/01/1996 12:00:00 AM  06/22/2015 12:00:00 AM      US
7  Inactive      NaN  03/01/1996 12:00:00 AM  08/07/2013 12:00:00 AM      US
8    Active      NaN  03/01/1996 12:00:00 AM  08/07/2013 12:00:00 AM      US
9       NaN      NaN  03/01/1996 12:00:00 AM  06/22/2015 12:00:00 AM      US

          Contact         Phone                          Location  \
0  Sheryl Chaffee  321-867-8047      32899(28.538331, -81.378879)
1  Sherry Johnson  757.864-3848  23681-2199(37.08681, -76.376649)
2  Sheryl Chaffee  321-867-8047      32899(28.538331, -81.378879)
3      Pam Caruso  256-544-7795      35812(34.729538, -86.585283)
4      Pam Caruso  256-544-7795      35812(34.729538, -86.585283)
5  Sheryl Chaffee  321-867-8047      32899(28.538331, -81.378879)
6  Sheryl Chaffee  321-867-8047      32899(28.538331, -81.378879)
7       Gary Gray  818.354.0701     91109(34.178124, -118.150662)
8       Gary Gray  818.354.0701     91109(34.178124, -118.150662)
9  Sheryl Chaffee  321-867-8047      32899(28.538331, -81.378879)

                   City State     Zipcode
0  Kennedy Space Center    FL       32899
1               Hampton    VA  23681-2199
2  Kennedy Space Center    FL       32899
3            Huntsville    AL       35812
4            Huntsville    AL       35812
5  Kennedy Space Center    FL       32899
6  Kennedy Space Center    FL       32899
7              PASADENA    CA       91109
8              PASADENA    CA       91109
9  Kennedy Space Center    FL       32899
self.df.info()
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 485 entries, 0 to 484
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Center                485 non-null    object
 1   Center Search Status  485 non-null    object
 2   Facility              485 non-null    object
 3   FacilityURL           0 non-null      float64
 4   Occupied              393 non-null    float64
 5   Status                399 non-null    object
 6   URL Link              145 non-null    object
 7   Record Date           485 non-null    object
 8   Last Update           479 non-null    object
 9   Country               485 non-null    object
 10  Contact               485 non-null    object
 11  Phone                 485 non-null    object
 12  Location              485 non-null    object
 13  City                  485 non-null    object
 14  State                 485 non-null    object
 15  Zipcode               485 non-null    object
dtypes: float64(2), object(14)
memory usage: 60.8+ KB

self.df.describe()
       FacilityURL     Occupied
count          0.0   393.000000
mean           NaN  1967.870229
std            NaN    14.952508
min            NaN  1940.000000
25%            NaN  1959.000000
50%            NaN  1965.000000
75%            NaN  1977.000000
max            NaN  2012.000000

self.df.shape
(485, 16)

self.check_missing_values()
Center                    0
Center Search Status      0
Facility                  0
FacilityURL             485
Occupied                 92
Status                   86
URL Link                340
Record Date               0
Last Update               6
Country                   0
Contact                   0
Phone                     0
Location                  0
City                      0
State                     0
Zipcode                   0
dtype: int64

self.check_dups_and_value_counts()
Duplicates for dataframe:
0

Value Counts for dataframe:
Series([], Name: count, dtype: int64)

check_dups_and_value_counts_col(col)
Duplicates for column 'Center':
472

Value Counts for column 'Center':
Center
Marshall Space Flight Center         136
Kennedy Space Center                  84
Langley Research Center               50
Glenn Research Center                 42
Jet Propulsion Lab                    37
Goddard Space Flight Center           32
Stennis Space Center                  29
NASA Aircraft Management Division     23
Michoud Assembly Facility             17
Ames Research Center                  12
Wallops Flight Facility/GSFC          10
Armstrong Flight Research Center       7
Johnson Space Center                   6
Name: count, dtype: int64
Duplicates for column 'Center Search Status':
484

Value Counts for column 'Center Search Status':
Center Search Status
Public    485
Name: count, dtype: int64
Duplicates for column 'Facility':
0

Value Counts for column 'Facility':
Facility
Control Room 2/1726/HGR-S                            1
Microelectronics Development Lab (B-1238A)           1
20-Inch Mach CF4 Tunnel                              1
LCC Control Room 3/FR-3/Third Floor/K6-900           1
Component Painting Facility                          1
                                                    ..
Propulsion Systems Laboratory, Bldg. 125             1
Chemical Cleaning Facility                           1
Bldg. 703 Mirror Coating Facility                    1
Bldg. 4800 - Research Development & Test Facility    1
National Scientific Balloon Facility                 1
Name: count, Length: 485, dtype: int64
Duplicates for column 'FacilityURL':
484

Value Counts for column 'FacilityURL':
Series([], Name: count, dtype: int64)
Duplicates for column 'Occupied':
426

Value Counts for column 'Occupied':
Occupied
1966.0    42
1965.0    31
1964.0    26
1960.0    21
1963.0    18
1958.0    16
1985.0    16
1957.0    13
1956.0    13
1977.0    12
1961.0    12
1943.0    11
1962.0    10
1959.0    10
1942.0     9
1992.0     9
1995.0     8
1991.0     8
1946.0     7
1945.0     7
1990.0     7
1968.0     7
1994.0     6
1984.0     6
1988.0     5
1980.0     5
1993.0     4
1972.0     4
1987.0     3
1948.0     3
1940.0     3
1976.0     3
2005.0     2
1979.0     2
1955.0     2
1982.0     2
1975.0     2
1970.0     2
1952.0     2
1951.0     2
1978.0     2
1989.0     2
1986.0     2
1967.0     2
2003.0     1
2000.0     1
1950.0     1
1949.0     1
1973.0     1
2002.0     1
2010.0     1
1954.0     1
2011.0     1
1983.0     1
1974.0     1
1969.0     1
2006.0     1
2012.0     1
Name: count, dtype: int64
Duplicates for column 'Status':
480

Value Counts for column 'Status':
Status
Active                  371
Inactive                 25
Under Rehabilitation      2
Under                     1
Name: count, dtype: int64
Duplicates for column 'URL Link':
422

Value Counts for column 'URL Link':
URL Link
http://rockettest.nasa.gov                                                          24
http://mafbusiness.msfc.nasa.gov/                                                   17
http://www.nasa.gov/centers/wallops                                                 10
http://thermo-physics.arc.nasa.gov                                                   9
http://etl.jpl.nasa.gov                                                              7
                                                                                    ..
http://www.nasa.gov/centers/dryden/aircraft/F-15B/index.html                         1
http://engineering.larc.nasa.gov/vibration_lab.html                                  1
http://facilities.grc.nasa.gov/emi/index.html                                        1
http://www.nasa.gov/centers/ames/research/technology-onepagers/eng_eval_lab.html     1
http://wacop.wff.nasa.gov/LAAPBDesc.cfm                                              1
Name: count, Length: 62, dtype: int64
Duplicates for column 'Record Date':
430

Value Counts for column 'Record Date':
Record Date
03/01/1996 12:00:00 AM    354
11/04/2009 12:00:00 AM     15
08/04/2006 12:00:00 AM      8
08/11/2006 12:00:00 AM      7
02/02/2009 12:00:00 AM      5
07/06/2010 12:00:00 AM      5
10/07/2009 12:00:00 AM      5
04/25/1996 12:00:00 AM      5
07/08/2010 12:00:00 AM      5
07/15/2010 12:00:00 AM      4
04/06/2009 12:00:00 AM      4
04/13/2010 12:00:00 AM      4
03/05/2015 12:00:00 AM      4
05/29/1996 12:00:00 AM      4
12/06/2005 12:00:00 AM      3
05/01/1996 12:00:00 AM      3
02/03/2009 12:00:00 AM      3
08/09/2006 12:00:00 AM      3
07/07/2010 12:00:00 AM      2
12/11/2000 12:00:00 AM      2
08/01/2012 12:00:00 AM      2
06/15/2015 12:00:00 AM      2
06/22/2006 12:00:00 AM      2
07/18/2010 12:00:00 AM      2
02/09/2009 12:00:00 AM      2
05/28/1996 12:00:00 AM      1
02/13/2013 12:00:00 AM      1
05/11/1998 12:00:00 AM      1
07/06/2009 12:00:00 AM      1
04/07/2009 12:00:00 AM      1
07/22/2013 12:00:00 AM      1
06/09/2006 12:00:00 AM      1
06/10/1996 12:00:00 AM      1
07/16/2010 12:00:00 AM      1
09/08/2009 12:00:00 AM      1
03/08/2007 12:00:00 AM      1
08/10/2006 12:00:00 AM      1
07/10/2010 12:00:00 AM      1
06/15/2006 12:00:00 AM      1
01/29/2009 12:00:00 AM      1
08/08/2006 12:00:00 AM      1
10/29/2014 12:00:00 AM      1
06/05/1996 12:00:00 AM      1
05/30/1996 12:00:00 AM      1
08/02/2012 12:00:00 AM      1
06/11/1996 12:00:00 AM      1
07/09/2010 12:00:00 AM      1
01/28/2009 12:00:00 AM      1
03/25/2013 12:00:00 AM      1
05/14/1996 12:00:00 AM      1
05/17/1996 12:00:00 AM      1
06/03/1996 12:00:00 AM      1
09/26/2012 12:00:00 AM      1
10/05/2011 12:00:00 AM      1
07/17/2010 12:00:00 AM      1
Name: count, dtype: int64
Duplicates for column 'Last Update':
450

Value Counts for column 'Last Update':
Last Update
06/22/2015 12:00:00 AM    84
06/02/2014 12:00:00 AM    57
03/31/2014 12:00:00 AM    53
02/25/2013 12:00:00 AM    36
03/04/2015 12:00:00 AM    31
04/06/2015 12:00:00 AM    29
08/07/2013 12:00:00 AM    27
08/16/2013 12:00:00 AM    24
05/30/2014 12:00:00 AM    20
02/19/2013 12:00:00 AM    19
02/13/2013 12:00:00 AM    13
08/08/2013 12:00:00 AM    10
07/19/2013 12:00:00 AM    10
07/22/2013 12:00:00 AM     9
08/15/2013 12:00:00 AM     7
09/26/2012 12:00:00 AM     6
02/15/2013 12:00:00 AM     6
03/05/2015 12:00:00 AM     5
06/13/2014 12:00:00 AM     4
02/20/2015 12:00:00 AM     4
06/12/2014 12:00:00 AM     4
12/19/2014 12:00:00 AM     3
08/02/2012 12:00:00 AM     3
07/10/2013 12:00:00 AM     2
06/15/2015 12:00:00 AM     2
02/26/2015 12:00:00 AM     2
12/17/2014 12:00:00 AM     2
10/29/2014 12:00:00 AM     1
01/28/2013 12:00:00 AM     1
08/19/2013 12:00:00 AM     1
08/01/2012 12:00:00 AM     1
09/10/2014 12:00:00 AM     1
07/11/2013 12:00:00 AM     1
11/22/2013 12:00:00 AM     1
Name: count, dtype: int64
Duplicates for column 'Country':
484

Value Counts for column 'Country':
Country
US    485
Name: count, dtype: int64
Duplicates for column 'Contact':
472

Value Counts for column 'Contact':
Contact
Pam Caruso                        136
Sheryl Chaffee                     84
Sherry Johnson                     50
Linda C. Elonen-Wright             42
Gary Gray                          37
Barry Green                        32
Robert Bruce                       29
Hsien (Shen) Yen                   23
Ernest Graham                      17
Rocci Caringello                   12
Scott H. Schaire                   10
Facilities Utilization Officer      7
Charles Noel                        6
Name: count, dtype: int64
Duplicates for column 'Phone':
472

Value Counts for column 'Phone':
Phone
256-544-7795    136
321-867-8047     84
757.864-3848     50
216-433-9370     42
818.354.0701     37
301 286 2520     32
228-688-1646     29
202 358 4721     23
504.257-2619     17
650 603-9506     12
757-824-1120     10
661-276-2585      7
281.483.3219      6
Name: count, dtype: int64
Duplicates for column 'Location':
472

Value Counts for column 'Location':
Location
35812(34.729538, -86.585283)         136
32899(28.538331, -81.378879)          84
23681-2199(37.08681, -76.376649)      50
44135(41.430364, -81.808561)          42
91109(34.178124, -118.150662)         37
20771(38.99538, -76.853161)           32
39529-6000(30.385948, -89.604486)     29
20546(38.883239, -77.016473)          23
70189(29.950621, -90.074948)          17
94035(37.41412, -122.052585)          12
23337-5099(37.911289, -75.469622)     10
93523(35.000989, -117.888837)          7
77058(29.559177, -95.097897)           6
Name: count, dtype: int64
Duplicates for column 'City':
472

Value Counts for column 'City':
City
Huntsville              136
Kennedy Space Center     84
Hampton                  50
Cleveland                42
PASADENA                 37
Greenbelt                32
Stennis Space Center     29
Washington               23
New Orleans              17
Moffett Field            12
Wallops Island           10
Edwards                   7
Houston                   6
Name: count, dtype: int64
Duplicates for column 'State':
475

Value Counts for column 'State':
State
AL    136
FL     84
VA     60
CA     56
OH     42
MD     32
MS     29
DC     23
LA     17
TX      6
Name: count, dtype: int64
Duplicates for column 'Zipcode':
472

Value Counts for column 'Zipcode':
Zipcode
35812         136
32899          84
23681-2199     50
44135          42
91109          37
20771          32
39529-6000     29
20546          23
70189          17
94035          12
23337-5099     10
93523           7
77058           6
Name: count, dtype: int64

In [ ]:
# Status is Active & URL exists & Occupied
working_df = nasadf[ (nasadf["Status"] == "Active") &
    (pd.notnull(nasadf["URL Link"])) &
    (pd.notnull(nasadf["Occupied"])) 
    ]

In [ ]:
# Unpack/Extract Latitude and Longitude from the Location column
regex_pattern = r"(?P<Latitude>-?\d+\.\d+), (?P<Longitude>-?\d+\.\d+)\)"
df_unpacked = working_df["Location"].str.extract(regex_pattern)

# Merge the unpacked columns back in the main dataframe
nasadf = pd.concat([nasadf, df_unpacked], axis=1)

In [ ]:
# Define example central point between Colorado Springs and Kansas City
CENTER_LOC  = ( 39.0119, -98.4842 )
MAP = Map(basemap=basemaps.OpenTopoMap, center=CENTER_LOC, zoom=3)
MAP.add_layer(Marker(location=CENTER_LOC))
display(MAP)

In [ ]:
def draw_marker_on_map( amap, location ):
    amap.add_layer(Marker(location=location))

In [ ]:
# apply draw circle for each NASA facility location
nasadf.apply(lambda loc: draw_marker_on_map(MAP, (loc['Latitude'], loc['Longitude'])), axis=1)

In [ ]:
nasadf

In [ ]:
center_counts = nasadf.groupby('Center').size()
center_counts

In [ ]:
center_counts.plot(kind='bar', figsize=(10, 6))
plt.title('Number of Facilities by Center')
plt.ylabel('Number of Facilities')
plt.xlabel('Center')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

In [ ]:
nasadf.drop("Center Search Status", axis=1, inplace=True)

In [ ]:
nasadf

In [ ]:
nasadf['Status'].isna().sum()

In [ ]:
nasadf['Status'].fillna('Unknown', inplace=True)

In [ ]:
status_counts = nasadf['Status'].value_counts()

In [ ]:
# Create horizontal bar chart
status_counts.plot(kind='barh')
plt.title('Distribution of Facility Status')
plt.xlabel('Number of Facilities')
plt.show()

In [ ]:
nasadf['Record Date'].value_counts()

In [ ]:
# convert date columns
nasadf['Record Date'] = pd.to_datetime(nasadf['Record Date'], format='%m/%d/%Y %I:%M:%S %p', errors='coerce')
nasadf['Last Update'] = pd.to_datetime(nasadf['Last Update'], format='%m/%d/%Y %I:%M:%S %p', errors='coerce')

In [ ]:
nasadf = nasadf.sort_values(by='Record Date')

In [ ]:
nasadf['Year'] = nasadf['Record Date'].dt.year
# Group by Year and count the number of facilities
yearly_counts = nasadf.groupby('Year').size()
yearly_counts.index

In [ ]:
# Setting x-ticks to force integer values
yearly_counts.index = yearly_counts.index.astype(int)

# Visualization
plt.figure(figsize=(11, 5))
# s adjusts the size of the dots
plt.scatter(yearly_counts.index, yearly_counts.values, color='blue', s=100)  
plt.xlabel('Year')
plt.ylabel('Number of Facilities')
plt.title('Number of Facilities Recorded Each Year')

# ensure that only integers are used for the x-ticks.
# https://matplotlib.org/stable/gallery/ticks/tick_labels_from_values.html#setting-tick-labels-from-a-list-of-values
ax = plt.gca()
ax.xaxis.set_major_locator(MaxNLocator(integer=True))

plt.grid(True, which='both', linestyle='--', linewidth=0.5)
plt.tight_layout()
plt.show()

In [ ]:
state_counts = nasadf['State'].value_counts()

In [ ]:
state_counts

In [ ]:
plt.figure(figsize=(15, 8))
sns.barplot(x=state_counts.index, y=state_counts.values, palette='viridis')
plt.xticks(rotation=45)
plt.title('Number of Facilities in Each State')
plt.ylabel('Number of Facilities')
plt.xlabel('State')
plt.tight_layout()
plt.show()

In [ ]:
# Group by 'Contact' and count the number of facilities they're linked to
contact_counts = nasadf['Contact'].value_counts()

In [ ]:
contact_counts

In [ ]:
plt.figure(figsize=(15, 8))
sns.barplot(y=contact_counts.index, x=contact_counts.values, orient='h')
plt.xlabel('Number of Facilities')
plt.ylabel('Contact')
plt.title('Number of Facilities per Contact')
plt.show()

In [ ]:
# Calculate mean and median establishment year for 'Active' facilities
active_mean_year = nasadf[nasadf['Status'] == 'Active']['Occupied'].mean()
active_median_year = nasadf[nasadf['Status'] == 'Active']['Occupied'].median()

# Calculate mean and median establishment year for 'Inactive' facilities
inactive_mean_year = nasadf[nasadf['Status'] == 'Inactive']['Occupied'].mean()
inactive_median_year = nasadf[nasadf['Status'] == 'Inactive']['Occupied'].median()

print("For Active Facilities:")
print(f"Mean Establishment Year: {active_mean_year:.2f}")
print(f"Median Establishment Year: {active_median_year}")

print("\nFor Inactive Facilities:")
print(f"Mean Establishment Year: {inactive_mean_year:.2f}")
print(f"Median Establishment Year: {inactive_median_year}")

In [ ]:
# Filter out rows with NaN in 'Occupied' column
nasadf_filtered = nasadf[nasadf['Occupied'].notna()]

# Convert 'Occupied' to integer
nasadf_filtered['Occupied'] = nasadf_filtered['Occupied'].astype(int)

# Create a boxplot
plt.figure(figsize=(10, 6))
sns.boxplot(data=nasadf_filtered, x='Status', y='Occupied')
plt.title("Distribution of Establishment Years by Status")
plt.ylabel("Establishment Year")
plt.xlabel("Facility Status")
plt.show()

In [ ]:
# Determine which centers have the oldest average facility age
# Calculate the current year
current_year = datetime.datetime.now().year

# Calculate age for each facility
nasadf['Age'] = current_year - nasadf['Occupied']

# Group by center and calculate the average age
average_ages = nasadf.groupby('Center')['Age'].quantile('.50').sort_values(ascending=False)
print(average_ages.dropna())